<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/node_modules/css/ad.css">
    <link rel="stylesheet" href="/node_modules/css/set.css">
    <link rel="stylesheet" href="/node_modules/mditor/dist/css/mditor.min.css" />
    <link rel="stylesheet" href="/node_modules/css/show.css">
    <script src="/node_modules/js/vue-2.4.0.js"></script>
    <script src="/node_modules/js/vue-resource-1.3.4.js"></script>
    <style>
        #post{
            margin: 0 auto;
            width: 620px;
            padding: 20px 0 40px;
        }
        .author{
            margin: 30px 0 40px;
        }
        .author>.avatar{
            width: 48px;
            height: 48px;
            vertical-align: middle;
            display: inline-block;
        }
        .info{
            vertical-align: middle;
            display: inline-block;
            margin-left: 8px;
        }
        .name{
            margin-right: 3px;
            font-size: 16px;
            vertical-align: middle
        }
        .meta{
            margin-top: 5px;
            font-size: 12px;
            color: #969696;
        }
        .meta span{
            padding-right: 5px;
        }
        .user:hover .dropdown-menu{
            display: block;
        }
    </style>
    <title id="title"> - 简书</title>
</head>

<body lang="zh-CN" class="reader-black-font" style="overflow-y: scroll;">
    <!-- 全局顶部导航栏 -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="width-limit">
            <!-- 左上方 Logo -->
            <a class="logo" href="/"><img src="/picture/nav-logo-4c7bbafe27adc892f3046e6978459bac.png" alt="Nav logo" /></a>

            <!-- 右上角 -->
            <!-- 未登录显示登录/注册/写文章 -->
            <a class="btn write-btn" target="_blank" href="/writer">
                <i class="iconfont ic-write"></i>写文章
            </a>
            <% if(!islogin) { %>
            <a class="btn sign-up" id="sign_up" href="/logup">注册</a>
            <a class="btn log-in" id="sign_in" href="/login">登录</a>
            <% } else {%>
            <!-- 如果用户登录，显示下拉菜单 -->
            <div class="user">
                <div data-hover="dropdown">
                    <a class="avatar" href="javascript:;"><img src="<%= user.headPortrait %>" alt="120"></a>
                </div>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/u/<%= user.id %>">
                            <i class="iconfont ic-navigation-profile"></i><span>我的主页</span>
                        </a> </li>
                    <li>
                        <a href="/settings/basic">
                            <i class="iconfont ic-navigation-settings"></i><span>设置</span>
                        </a> </li>
                    <li>
                        <a href="javascript:;">
                            <i class="iconfont ic-navigation-feedback"></i><span>帮助与反馈</span>
                        </a> </li>
                    <li>
                        <a id="nofollow" data-method="<%= user.id %>" href="/logout" >
                            <i class="iconfont ic-navigation-signout"></i><span>退出</span>
                        </a> </li>
                </ul>
            </div>
            <% } %>
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu"
                        aria-expanded="false">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="menu">
                    <ul class="nav navbar-nav">
                        <li class="tab ">
                            <a href="/">
                                <span class="menu-text">发现</span><i class="iconfont ic-navigation-discover menu-icon"></i>
                            </a> </li>
                        <li class="tab ">
                            <a href="/subscriptions">
                                <span class="menu-text">关注</span><i class="iconfont ic-navigation-follow menu-icon"></i>
                            </a> </li>
                        <li class="search">
                            <form target="_blank" action="/search" accept-charset="UTF-8" method="get"><input name="utf8"
                                    type="hidden" value="&#x2713;" />
                                <input type="text" name="q" id="q" value="" autocomplete="off" placeholder="搜索" class="search-input" />
                                <a class="search-btn" href="javascript:void(null)"><i class="iconfont ic-search"></i></a>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div id="post">
        <h1>{{ title }}</h1>
        <!-- 作者区 -->
        <div class="author">
            <a href="javascript:;" class="avatar">
                <img :src="headPortrait" alt="">
            </a>
            <div class="info">
                <span class="name">
                    <a href="javascript:;">{{ nickname }}</a>
                </span>
                <div class="meta">
                    <span class="publish-time">{{ ctime }}</span>
                    <span class="comments-count">评论 {{ count }}</span>
                    <span class="rewards-count ">赞 {{ praise }}</span>
                </div>
            </div>
        </div>
        <div class="content" v-html="content">

        </div>
        <!-- 赞 -->
        <div class="meta-bottom">
            <div class="like">
                <div class="btn like-group">
                    <div class="btn-like">
                        <a>喜欢</a>
                    </div>
                    <div class="modal-wrap">
                        <a>11</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- 评论 -->
        <div id="comment-list" class="comment-list">
            <div>
                <form class="new-comment">
                    <% if(islogin) { %>
                    <a class="avatar">
                        <img src="<%= user.headPortrait %>" alt="">
                    </a>
                    <textarea placeholder='写下你的评论...' v-model="Discuss">

                    </textarea>
                    <div class="write-function-block">
                        <a class="btn btn-send" @click="discuss">发送</a>
                        <a class="cancel">取消</a>
                    </div>
                    <% } else {%>
                    <a class="avatar">
                        <img src="/picture/avatar_default.png" alt="">
                    </a>
                    <div class="sign-container">
                        <a href="/login" class="btn btn-sign">登录</a>
                        <span>后发表评论</span>
                    </div>
                    <% } %>
                </form>
            </div>
            <div class="featured-comment-list">
                <div class="top-title">
                    <span>精彩评论（{{ count }}）</span>
                </div>
                <div class="comment" v-for="(item,i) in list" :key="item.id">
                    <div>
                        <!-- 评论者信息 -->
                        <div class="author">
                            <div class="v-tooltip-container">
                                <a href="" class="avatar">
                                    <img :src="item.headPortrait" alt="">
                                </a>
                            </div>
                            <div class="info">
                                <a href="" class="name">{{ item.nickname}}</a>
                                <div class="meta">
                                    <span>{{ i+1 }}楼 · {{ item.ctime}}</span>
                                </div>
                            </div>
                        </div>
                        <!-- 内容 -->
                        <div class="comment-wrap">
                            <p>{{ item.content }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    var show = new Vue({
        el: '#post',
        data: {
            id: "",
            nickname: '',
            headPortrait: '',
            praise: '',
            title: '',
            ctime: '',
            content: '',
            list:'',
            count:'',
            Discuss:'',
        },
        methods: {
            get() {
                this.$http.post("/show", { id: location.pathname.split('/')[2] }, { emulateJSON: true }).then(result => {
                    this.id = result.body.result.id
                    this.nickname = result.body.result.nickname
                    this.headPortrait = result.body.result.headPortrait
                    this.praise = result.body.result.praise
                    this.title = result.body.result.title
                    this.ctime = result.body.result.ctime
                    this.content = result.body.result.content
                    document.getElementById('title').innerText = this.title + ' - 简书'
                })
            },
            show(){
                this.$http.post('/articles/discuss',{ id: location.pathname.split('/')[2] },{ emulateJSON: true }).then(result=>{
                    this.list = result.body.result[0]
                    this.count = result.body.result[1][0].count
                })
            },
            discuss(){
                if(this.Discuss.trim() == ""){
                    alert('请填写评论内容!')
                    return
                }
                var authorId = document.getElementById('nofollow').dataset["method"];
                this.$http.post('/discuss',{content: this.Discuss,articlesId: location.pathname.split('/')[2],authorId:authorId},
                { emulateJSON: true }).then(result=>{
                    if(result.body.status ==200){
                        alert('评论成功!')
                        this.Discuss = ''
                        this.show()
                    }else{
                        alert('评论失败!请重试!')
                    }
                })
            },
            open2() {
                this.$message({
                    message: '恭喜你，这是一条成功消息',
                    type: 'success'
                });
            }
        },
        created() {
            this.get(),
            this.show()
        }
    })
</script>

</html>